data/raw/weather_station_to_county_mapping.csv
data/raw/weather_forecast.csv
data/raw/train.csv
data/raw/historical_weather.csv
data/raw/gas_prices.csv
data/raw/electricity_prices.csv
data/raw/client.csv
data/raw/county_id_to_name_map.json
